<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>About us</title>
    <style>
      body{
        background-color: lightgray;
      }
    .images{
      width: 100%;
      height: 100px;
    }
    footer{
      background-color: slategrey;
      height: 50px;
      padding-left: 30px;
      padding-bottom: 30px;
    }
    p{
      padding-top: 20px;
    }
    /* showcase */
#showcase{
    min-height:1000px;
    background-repeat: no-repeat;
    text-align:center;
    color: lightsalmon;
}
    </style>
    
</head>
<body>
  <div class="container-fluid">
    <div class="jumbotron">
      <abbr title="Go back to main menu"><a href="../index.html"><img src="../assets/images/masterLogo.png" style="max-width: 70px;position: absolute;margin: 10px 0px 0px 530px;" alt="logo"></a></abbr>
        <div class="navbar container">
        </div>
   <h1> ABOUT US</h1>
   <div>
    <nav class="navbar navbar-inverse">
        
    </nav>
   
  
  <div class="container-fluid"></div>
       <div class="container"></div>
      
      
  <div>
      <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="About.html">About us</a></li>
          <li role="presentation"><a href="contact.html">contact us</a></li>
          
      </ul>
  </div>

   </div>
<h2>Kabbee Studios</h2>
<div>
<h3><p>The developers of Kabbee Studio. website are students of Kabbee organization. KABBEE is a non-profit organization that started out of a desire to aid refugees
 as they strive to transition to new lives in their adopted countries. 
 We believe in the motto that a little help goes a long way and that
 we can make a difference in the lives of refugee communities by providing education,
technical and vocational trainings. Our vision is that we can transform many refugees 
especially youth to become independent and future productive citizens in their adopted countries.</p></h3>


<h2>OUR MISSION</h2>
<h3><p>Our current mission is to equip Eritrean refugees who are living in Sudan to develop necessary 
life skills by providing short-term technical and vocational training in this interim period. 
We believe this will help these refugees not only to use their time productively in developing
new skills that will allow them to better support themselves in future, but also to build their confidence,
 as well as giving them a vision of future hope and purpose.</p></h3>
</div>
<section id="showcase">
  <div class="container">
  </div>
</section><br><br>
<center><img src="../assets/images/canon.png" style="margin: -1550px 0 0 0" alt=""></center>
<center><abbr title="Go back to main menu"><button style="width: 100px;"><a href="../index.html" style="text-decoration: none;" >Back</a></button></abbr></center>  
</body>
</html>