<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contact us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/contact.css">

</head>
<body>
    <nav class="navbar-inverse">
        <abbr title="Go back to main menu"><a href="../index.html"><img src="../assets/images/masterLogo.png" style="max-width: 70px;position: absolute;margin: 70px 0px 0px 625px;" alt="logo"></a></abbr>
        <a href="../index.html"><center><h1>K-Studios</h1></center></a>
    </nav>
    <div id="countainer">
       <center> <h1>CONTACT US</h1></center>
        <div class="leftside">
            <div class="inlineinput">
                 <input type="text" id="fname" placeholder="Your First name*" class="input">
                 <input type="text" id="lname" placeholder="Your Last name*" class="input">
            </div><br>
                  <input type="text" id="email" placeholder="Your email*" class="linelist"><br>
                  <br>
                  <input type="text" id="phone" placeholder="Your phone*" class="linelist">
                            
       
        </div><br>
        <div class="rightside">
                <textarea name="messages" id="message" cols="30" rows="10" placeholder="Your Messages*"></textarea>
               
        </div>
         
         <button id="button">Send message</button>
         </div>  <br><br><br><br>&nbsp;&nbsp;
          <center><a href="aboutss.html" id="back">Back</a> </center>  
    
</body>
</html>