<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register webPage</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 
<link rel="stylesheet" href="../styles/style.css">

</head>
<body>
    <!-- header of the webpage -->
     <header>
        <div class="container">
        <div class="heada">
            <h1><span class="glyphicon glyphicon-camera"></span>&nbsp <b><span class="master">Master</span> &nbspPhoto  &nbspStudio </b></h1>
        </div>
        </div>
    </header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
         
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                        <li class="active"><a href="Masterstudio.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href="contactus.html"> <span class="glyphicon glyphicon-earphone"></span> contact us</a></li>
                        <li><a href="about.html"> <span class="glyphicon glyphicon-user"></span> About</a></li>
                        <li class="dropdown">
                            <a href="services.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class=""></span> Services<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="wedding.html">Wedding Photos and Videos</a></li>
                                <li><a href="babtism.html">Babtism Photos and Videos</a></li>
                                <li><a href="birthdate.html">Birth date Photos and Videos</a></li>
                                <li><a href="occational.html">Occational Photos and Videos</a></li>
                                <!-- <li><a href="idphotos.html">Id Photos of immigration</a></li> -->
                            </ul>
                        </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <button class="btn btn-light"><a href="login.html">Log in</span></a></button>
                    <button class="btn btn-light"><a href="register.html">Register</span></a></button>
                </form>
               
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    
          <!-- log in jumbotron division -->
        <div id="jumboregist" class="jumbotron">
            <h1><b>Registration</b></h1>
            <form>
            <label>First Name:</label><br>
            <input type="text" placeholder="Enter first name.." id="input"><br><br>
            <label>Last Name:</label><br>
            <input type="text" placeholder="Enter last name.." id="input"><br><br>
            <label>User Email:</label><br>
            <input type="text" placeholder="Enter User Email.." id="input"><br><br>
            <label>Password:</label><br>
            <input type="password" placeholder=" Enter password.." id="input"><br><br>
            <label>Confirm Password:</label><br>
            <input type="password" placeholder="confirm Password.." id="input"><br><br>
            <label>Phone Number:</label><br>
            <input type="text" placeholder="Enter Phone Number.." id="input"><br><br>
            <button type="submit" class="btn btn-primary"><b>Submit</b></button><br><br><br>
            <a href="Masterstudio.html" id="back">Back</a>
            </form>
        </div>
     <!-- camera image division -->
   
     <div class="cameraimage">
            <img id="camera3" src="../assets/images/mcamera2.jpg" alt="camera image">
     </div>
    


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>